<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
      <ion-button full (click)="startListening()">Start Listening</ion-button>
      <!-- <div *ngIf="isRecording"> -->
      <ion-button full (click)="stopListening()">Stop Listening</ion-button>
      <!-- </div> -->  
      <ion-list>
          <ion-item>
              音声認識:{{matches}}
          </ion-item>
          <div *ngIf="searchProduct">
              <ion-item>商品ID:{{ searchProduct.id }}</ion-item>
              <ion-item>商品名:{{ searchProduct.name }}</ion-item>
              <ion-item>価格:{{ searchProduct.price }}</ion-item>
          </div>
      </ion-list>
  </div>


</ion-content>
